{% extends 'base.html' %}

{% block content %}
    {% if message %}
        <div class="alert alert-warning" role="alert"><p class="text-center">{{ message }}</p></div>
    {% endif %}

    <div class="row">
            <div class="col-md-4 offset-md-4">
                <form class="form-signup" action="/postsignUp/" method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
                    <!-- Enter username -->
                    <input type="username" id="Username" name="username" class="form-control"
                           placeholder="Username"><br>
                    <!-- Enter email -->
                    <input type="email" id="Email" name="email" class="form-control" placeholder="Email"><br>
                    <!-- Enter password -->
                    <input type="password" id="Password" name="pass" class="form-control" placeholder="Password"><br>
                    <!-- Repeat password -->
                    <input type="password" id="confirm_password" name="pass-repeat" class="form-control"
                           placeholder="Confirm Password"><br>

                    <button class="btn btn-outline-dark" type="submit" onclick="location.href='{% url 'signup' %}">Sign
                        Up</button>
                </form>
        </div>
    </div>
{% endblock content %}