{% extends 'base.html' %}



{% block content %}
    {% if message %}
        <div class="alert alert-warning" role="alert"><p class="text-center">{{ message }}</p></div>
    {% endif %}
    <br>
    <button type="button" class="btn btn-outline-dark float-right" onclick="location.href={% url 'upload' %}">+ NEW</button>
    <h2>Documents</h2>
    <br>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if documentLst %}
            {% for title, date, docId, url in documentLst %}
                <tr>
                    <th scope="row"><a href="{{ url }}" class="text-muted">{{ title }}</a></th>
                    <td>{{ date }}</td>
                    <th>
                        <a href="/delete/?docId={{ docId }}" class="text-muted">Delete</a>
                    </th>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row">None</th>
                <td>None</td>
                <th>None</th>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock content %}