{% extends 'base.html' %}

{% block navbar %}
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/image/WIT-Logo.png" alt="logo" width="60" height="60">
        </a>
        <!-- Logo Brand -->
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">Bulletin Board</a>
        <!-- Hamburger menu icon -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Home -->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <!-- User -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <!--- Welcome -->
    <section class="pt-4 pt-md-11">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">
                    <img src="/media/image/qrcode_fir-django-a355c.web.app.png" class="mx-auto d-block" width="300"
                         height="300" alt="welcome">
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
                    <!-- Heading -->
                    <h1 class="display-6 text-center text-md-left">
                        Welcome to <span class="bg-warning">Bulletin Board</span>
                    </h1>
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <!-- Buttons -->
                    <button class="btn btn-outline-dark" type="button" onclick="location.href='{% url 'signup' %}'">Sign Up</button>
                </div>
            </div>
    </section>
    <hr>

    <!-- Features -->
    <section class="py-8 py-md-11">
        <div class="container">
            <h1 class="text-center mt-2 pd-2">Features</h1>
            <div class="row text-center mt-5">

                <div class="col-12 col-md-4 aos-init aos-animate">
                    <!-- Icon -->
                    <div class="icon text-primary mb-3">
                        <img src="/media/image/cloud-storage.png" width="55" height="55">
                    </div>
                    <!-- Heading -->
                    <h2>Cloud Storage</h2>
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>

                <div class="col-12 col-md-4 aos-init aos-animate">
                    <!-- Icon -->
                    <div class="icon text-primary mb-3">
                        <img src="/media/image/share-file.png" width="55" height="55">
                    </div>
                    <!-- Heading -->
                    <h2>Share Files</h2>
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>

                <div class="col-12 col-md-4 aos-init aos-animate">
                    <!-- Icon -->
                    <div class="icon text-primary mb-3">
                        <img src="/media/image/schedule.png" width="55" height="55">
                    </div>
                    <!-- Heading -->
                    <h2>Event</h2>
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}