{% extends 'base.html' %}

{% block navbar %}
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/image/WIT-Logo.png" alt="logo" width="60" height="60">
        </a>
        <!-- Logo Brand -->
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">Bulletin Board</a>
        <!-- Hamburger menu icon -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Home -->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <!-- User -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    {% if message %}
        <div class="alert alert-warning" role="alert"><p class="text-center">{{ message }}</p></div>
    {% endif %}

    <div class="row">
            <div class="col-md-4 offset-md-4">
                <form class="form-signup" action="/postsignUp/" method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
                    <!-- Enter username -->
                    <input type="username" id="Username" name="username" class="form-control"
                           placeholder="Username"><br>
                    <!-- Enter email -->
                    <input type="email" id="Email" name="email" class="form-control" placeholder="Email"><br>
                    <!-- Enter password -->
                    <input type="password" id="Password" name="pass" class="form-control" placeholder="Password"><br>
                    <!-- Repeat password -->
                    <input type="password" id="confirm_password" name="pass-repeat" class="form-control"
                           placeholder="Confirm Password"><br>

                    <button class="btn btn-outline-dark" type="submit" onclick="location.href='{% url 'signup' %}">Sign
                        Up</button>
                </form>
        </div>
    </div>
{% endblock content %}